* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}

#sleeping-gif img {
    width: 400px;
}

#love-text {
    font-size: 3rem;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid black;
    margin: 50px auto;
    letter-spacing: .15em;
    animation:
      typing 4s steps(30, end),
      blink-caret .75s step-end infinite;
    width: 0;
    display: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/* The heart */
.love {
    width: 520px;
    height: 440px;
    margin: auto;
    position: relative;
}

.love .block {
    right: 0;
    position: absolute;
    visibility: hidden;
}

.love .block div {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../images/mooncake.png") no-repeat;
    background-size: contain;
}
