* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }
  
  #start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #start-btn {
    padding: 20px 40px;
    font-size: 2rem;
    background-color: pink;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  #main-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none; /* hide initially */
    gap: 10px;
}
  

  /* The heart */
  .love {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: 300px;
}
  
  .love .block {
    position: absolute;
    visibility: hidden;
  }
  
  .love .block div {
    width: 20px;
    height: 20px;
    background: url("../images/mooncake.png") no-repeat center;
    background-size: cover;
    position: absolute;
  }
  
  /* Text */
  #love-text {
    font-size: 2rem;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px auto;
    letter-spacing: .1em;
    animation: typing 4s steps(30, end) forwards, blink-caret .75s step-end infinite;
    z-index: 10;
         
  }
  
  #sleeping-gif img {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-top: 5px;
  }
  
  /* Typing Animation */
  @keyframes typing {
    from { width: 0; }
    to { width:  28ch; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
  